h1 {
	color:blue;
	text-align:center;
}

#clock {
	text-align: center;
	font-size: 200%;
	padding-right:  80px;
}
.alarm {
	text-align: center;
	font-family: Book Antiqua;
	padding-right: 80px;
}
.cold {
	background-color: #95A5A6;
}
.chilly {
	background-color: #1ABC9C;
}
.nice {
	background-color: #2980B9;
}
.warm {
	background-color: #E67E22;
}
.hot {
	background-color: #E74C3C;
}
#forecastLabel {
	width:  50%;
	margin:  0 auto;
}
